
html, body {
	margin:0;
	width: 100%;
	font-size: 0;
}
#header {
	width: 100%;
	height: 150px;
}

#logo {
	height: 60px;
	margin: 45px 0 0 100px;
}

.box-full {
	width: 100%;
	height: 100vh;
	max-height: 600px;
}
.box-half {
	width: 50%;
	display: inline-block;
	height: 100vh;
	max-height: 600px;
}

/* -- NAVIGATION --  */
#nav {
	float: right;
	height:100%;
	margin-right:  100px;
	font-family: 'Lato', sans-serif;
	display: table;
}
#nav ul {
	height: 100%;
	padding-top: 63px;
	margin: 0;
}
#nav li {
	color: #0F0F0F;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	
	margin: 0 20px;
	height: 100%;

	display: inline-block;

	transition: 0.2s;

	list-style: none;
}
#nav li::after {
	content: "";
	background: #7C7C88;

	height: 10px;
	width: 0%;
	display: block;
	margin-top: 53px;
	transition: 0.2s;
	margin-left: 50%; 
	padding: 0;
	transition-timing-function: ease-out;
}

/* HOVER */

#nav li:hover::after {
	width: 100%;
	margin-left:-10px;
	padding:0 10px;
}

#nav li:hover {
	color: #7C7C88;
}

a#support {

	height:30px;
	padding:20px;
	background: #DDE4EB;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size:48px;
}
p {
	font-family: 'Lato', sans-serif;
	color:#7C7C88;
	line-height: 26px;
	font-size:20px;
}

.box-full a {
	font-size:20px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	padding: 10px 25px;
	margin:50px;
	border:3px solid #303085;
}